body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #6d7a86;
  font-family: monospace sans-serif;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 8px solid #414141;
  border-radius: 50%;
  background: white;
}

.clock__number {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  left: 50%;
  top: 50%;
  transform: rotate(calc(30deg * var(--n))) translateY(-130px) rotate(calc(-30deg * var(--n))) translate(-50%, -50%);
  text-align: center;
  width: 24px;
  height: 24px;
}

.clock__hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom center;
  background: #333;
  border-radius: 40% 40% 0 0;
}

.clock__hand-hour {
  width: 4px;
  margin-left: -2px;
  height: 80px;
  background: #555555;
}

.clock__hand-minute {
  width: 3px;
  margin-left: -1.5px;
  height: 110px;
  background: #555555;
}

.clock__hand-second {
  width: 2px;
  margin-left: -1px;
  height: 140px;
  background: rgb(255, 124, 124);
}

.clock__center-dot {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  z-index: 10;
  background: #000;
  border-radius: 50%;
}

.clock__control {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: rgb(17, 158, 158);
  border: 1px solid black;
}

button:hover {
  background-color: rgb(42, 174, 174);
}

button:active {
  scale: 0.9;
}

