:root {
  --desktop-container-width: 1440px;

  /* colors */
  --grayscale-0: #000000;
  --grayscale-1: #181818;
  --grayscale-2: #444444;
  --grayscale-3: #b9b9b9;
  --grayscale-4: #cfcfcf;
  --grayscale-6: #f5f5f5;
  --grayscale-7: #ffffff;

  --primary-0: #7b31d4;
  --primary-1: #954ced;
  --primary-2: #a64ced;
  --primary-3: #ba8bf3;

  --secondary-1: #2fdbbc;
  --secondary-2: #ffaa4c;

  --additional-2: #ec1211;

  /* fonts */
  --B1_Medium_16: 500 16px 'Outfit';
  --B2_Regular_16: 400 16px 'Outfit';
  --B3_Medium_14: 500 14px / 22px 'Outfit';
  --B4_Regular_14: 400 14px / 22px 'Outfit';
  --B5_Light_14: 300 14px / 140% 'Outfit';
  --S6_Regular_20: 400 20px / 120% 'Outfit';
  --B7_Regular_12: 400 12px / 20px 'Outfit';

  --S1_SemiBold_36: 600 36px 'Outfit';
  --S2_SemiBold_24: 600 24px / 120% 'Outfit';
  --S3_Regular_24: 400 24px / 120% 'Outfit';
  --S4_SemiBold_20: 600 20px 'Outfit';
  --S5_Medium_20: 500 20px 'Outfit';
  --S6_Regular_20: 400 20px / 120% 'Outfit';

  --T1_Bold_128: 700 128px / 106px 'Outfit';
  --T2_Bold_96: 700 96px / 106% 'Outfit';
  --T3_Bold_64: 700 64px / 106% 'Outfit';
  --T4_Bold_48: 700 48px / 106% 'Outfit';
  --T5_SemiBold_48: 600 48px 'Outfit';
  --T6_Bold_40: 700 40px / 106% 'Outfit';
  --T7_Bold_32: 700 32px / 106% 'Outfit';
}
